.planer_site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 24px 27px;

  > img {
    width: 84px;
    height: 33px;
    margin-bottom: 17px;
  }

  p {
    max-width: 920px;
    margin: 0;
    color: $footer-text;
    font-size: 10px;
    line-height: 1.45;
    text-align: center;
  }

  &--result {
    position: relative;
    z-index: 2;
    padding-top: 13px;
  }
}

@include mobile {
  .planer_site-footer {
    padding: 33px 28px 27px;

    > img {
      margin-bottom: 14px;
    }

    p {
      font-size: 10px;
      line-height: 1.32;
    }

    &--result {
      padding-top: 22px;
    }
  }
}
